# Ignore Python venv
venv/
data/
data/raw/filtered_complaints.csv
data/raw/*
!data/raw/.gitkeep

# Ignore vector store
vector_store/

# Ignore cache, compiled files
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Ignore environment settings
.env

