# Ignore Python venv
venv/
data/**
"data/raw/"
# Ignore vector store
vector_store/

# Ignore cache, compiled files
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/

# Ignore environment settings
.env
*.csv
*.zip

