# Ignore Python venv
venv/

# Ignore data files
data/
data/raw/*
!data/raw/.gitkeep

# Ignore vector store
vector_store/

# Ignore cache, compiled files
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Ignore environment settings
.env

